client-application/src/main/resources/com/project/generated/expense3.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://185.247.139.7:8182/thread-ws-server-application/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ExpenseService" targetNamespace="http://185.247.139.7:8182/thread-ws-server-application/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://185.247.139.7:8182/thread-ws-server-application/" elementFormDefault="unqualified" targetNamespace="http://185.247.139.7:8182/thread-ws-server-application/" version="1.0">

  <xs:element name="getExpensesRequest" type="tns:getExpensesRequest"/>

  <xs:element name="getExpensesResponse" type="tns:getExpensesResponse"/>

  <xs:element name="saveExpenseRequest" type="tns:saveExpenseRequest"/>

  <xs:element name="saveExpenseResponse" type="tns:saveExpenseResponse"/>

  <xs:complexType name="getExpensesRequest">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getExpensesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:expense"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="expense">
    <xs:sequence>
      <xs:element minOccurs="0" name="expenseType" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="quantity" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveExpenseRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="expense" type="tns:expense"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveExpenseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:expense"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getExpenses">
    <wsdl:part element="tns:getExpensesRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveExpenseResponse">
    <wsdl:part element="tns:saveExpenseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExpensesResponse">
    <wsdl:part element="tns:getExpensesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveExpense">
    <wsdl:part element="tns:saveExpenseRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="expense">
    <wsdl:operation name="getExpenses">
      <wsdl:input message="tns:getExpenses" name="getExpenses">
    </wsdl:input>
      <wsdl:output message="tns:getExpensesResponse" name="getExpensesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveExpense">
      <wsdl:input message="tns:saveExpense" name="saveExpense">
    </wsdl:input>
      <wsdl:output message="tns:saveExpenseResponse" name="saveExpenseResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExpenseServiceSoapBinding" type="tns:expense">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getExpenses">
      <soap:operation soapAction="urn:Expenses" style="document"/>
      <wsdl:input name="getExpenses">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getExpensesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveExpense">
      <soap:operation soapAction="urn:Expenses" style="document"/>
      <wsdl:input name="saveExpense">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveExpenseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExpenseService">
    <wsdl:port binding="tns:ExpenseServiceSoapBinding" name="ExpensePort">
      <soap:address location="http://185.247.139.7:8182/thread-cxf-jaxws-server/services/expense"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>